.container {
  padding: 2rem;
  background-color: #ddd;
}

.initialContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  border-bottom: #aaa solid 0.1rem;
  flex-grow: 0;
}

.searchBar {
  margin: 2rem auto;
  width: 90%;
  height: 100%;
}

.searchBar input {
  width: 100%;
  padding: 1rem 1rem 1rem 3.5rem;
  background-image: url('../public/search.png');
  background-repeat: no-repeat;
  background-size: 2.5rem 2.5rem;
  background-position: left center;
  border-radius: 0.75rem;
  border: crimson solid 0.2rem;
  box-shadow: #999 0.5rem 0.5rem 0.4rem;
  outline: none;
  color: #222;
  font-size: 1.6rem;
}

.searchBar input:focus {
  background-size: 2.4rem 2.4rem;
  background-image: url('../public/searchfocus.gif');
  border-color: rgb(170, 26, 26);
  border-width: 0.25rem;
}

.redirectHome {
  font-size: 2rem;
  font-weight: 500;
  color: #222;
  cursor: pointer;
}

.redirectHome:hover {
  color: crimson;
  text-decoration: underline;
}


.pokeContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 2rem;
  max-width: 120rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0rem;
  width: 100%;
  max-width: 20rem;
  background: #222;
  border-radius: 1rem;
  box-shadow: #999 0.5rem 0.5rem 1.2rem;
  border: #999 solid 0.3rem;
  gap: 1.5rem;
  transition: all ease-in-out 0.25s;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-1.5rem);
  background: #555;
}

.cardImage {
  width: 10rem;
  height: 10rem;
  background-size: 100%;
}



.cardInfo {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  color: #eee;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
}

.cardText {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-transform: capitalize;
  font-weight: 600;
  color: #eee;
}

.cardID {
  text-align: center;
  background-color: crimson;
  border-radius: 0.2rem;
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 0.2rem;
}
.logo {
  width: 7.5rem;
  height: 7.5rem;
  background-image: url('../public/logo.png');
  background-size: 100%;
  transition: all ease-in-out 0.4s;
  cursor: pointer;
}

.logo:hover {
  transform: rotate(360deg);
}

@media (max-width: 500px) {
  .pokeContainer {
    gap: 1rem;
  }
  .card {
    max-width: 17rem;
  }

  .container {
    padding: 2rem 0.2rem;
  }
}
